.inputText {
    width: 20ch;
    height:3.5ch;
}

.inputTextDisabled {
    width: 20ch;
    height:3.5ch;
    background-color:rgb(189, 187, 187);
}

.texto {
    font-size:12px;
    color: rgb(135, 132, 132);
    
}
